<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/public/bjStyle.css">
    <title>BlackJack</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="back">
            <a href="/"><ion-icon name="arrow-back-outline"></ion-icon></a>
        </div>
        <div class="title">
            <h1>BLACKJACK</h1>
        </div>
    </header>
    <main>
        <div class="dealer">
            <h2>Dealer: <span id="dealerScore"><%= gameData.dealerScore %></span></h2>
            <div id="dealerHand">
                <% gameData.dealerHand.forEach((card, index) => { %>
                    <img src="<%= index === 0 || gameData.gameOver ? card.image : 'https://deckofcardsapi.com/static/img/back.png' %>" alt="<%= card.value %> of <%= card.suit %>">
                <% }); %>
            </div>
        </div>
        <div class="player">
            <h2>Player: <span id="playerScore"><%= gameData.playerScore %></span></h2>
            <div id="playerHand">
                <% gameData.playerHand.forEach(card => { %>
                    <img src="<%= card.image %>" alt="<%= card.value %> of <%= card.suit %>">
                <% }); %>
            </div>
        </div>
        <div class="actions">
            <h2>Actions</h2>
            <button id="hitButton">Hit</button>
            <button id="standButton">Stand</button>
        </div>
    </main>
    <div class="game-over">
        <h2>Game Over!</h2>
        <div id="message"><%= gameData.message %></div>
        <button id="newGameButton">New Game</button>
    </div>
    <script src="/public/bj.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>